@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --chat-background-color: #17212b;
    --main-background-color: #0e1621;
    --devider-color: #25303e;
}

:visited,
:link {
    color: white;
    text-decoration: none;
}

.home-container {
    background-color: var(--main-background-color);
    color: white;
    display: flex;
    font-family: 'Poppins';
    font-size: 1.5em;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.chat {
    padding-left: 2px;
    width: 100%;
}

.chat-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: var(--chat-background-color);
    width: 31%;
    font-size: 70%;
    min-width: 290px;
}

.visible {
    display: flex;
}

.non-visible {
    display: none;
}

.chat-add-dialog {
    display: flex;
    border-bottom: 6px solid var(--devider-color);
    justify-content: space-between;
    padding-bottom: 12px;
    padding-inline: 24px;
    align-items: center;
}

.chat-add-dialog--textarea {
    height: 45px;
    background-color: var(--chat-background-color);
    border-width: 0;
    width: 100%;
    font-size: 1.8em;
    padding-top: 24px;
    padding-right: 24px;
    outline: none;
    resize: none;
    color: white;
}

.chat-add-dialog--button {
    font-size: 25px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    background-color: var(--devider-color);
    color: white;
    cursor: pointer;
}

.display-dialogs-button {
    font-size: 25px;
    height: 35px;
    width: 35px;
    display: block;
    background-color: var(--devider-color);
    justify-content: center;
    color: white;
    cursor: pointer;
}

.chat--header {
    height: 50px;
    background-color: var(--chat-background-color);
    font-size: 65%;
    display: flex;
    padding-left: .5em;
    padding-right: 1.5em;
    align-items: center;
    justify-content: space-between;
}

.delete-button {
    font-size: 18px;
    background-color: var(--devider-color);
    color: red;
    cursor: pointer;
}

.chat-list--body-element {
    height: 60px;
    padding: 10px 12px 18px;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid var(--devider-color);
}

.chat-list--body-element:hover {
    transition: background-color 0.3s;
    background-color: #25303e;
    cursor: pointer;
}

.chat-list--name-message {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.chat--footer-textarea {
    height: 70px;
    padding-left: 12px;
    background-color: var(--chat-background-color);
    font-size: 0.7em;
    color: #7f91a4;
    display: flex;
}

.message-text {
    background-color: var(--chat-background-color);
    width: 100%;
    padding-top: 12px;
    border-width: 0;
    resize: none;
    color: white;
}

#button-send {
    background-color: #2b5278;
    min-width: 11em;
    color: white;
    border-width: 0;
    cursor: pointer;
}

.message-text:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.hint {
    color: #7f91a4;
}

#chat--messages {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 70%;
    display: flex;
    min-width: 370px;
    flex-direction: column;
    font-size: 0.6em;
    letter-spacing: 0.05em;
    overflow-y: auto;
    height: calc(100vh - 145px);
    background-color: var(--main-background-color);
}

.selected-message {
    filter: brightness(50%);
}

.selected-dialog {
    background-color: #1a1f26;
}

.message-left {
    margin: 1% 25% 1% 0%;
    max-width: 85%;
    align-self: flex-start;
    margin-left: 9px;
    background-color: #182533;
    border-radius: 5px;
    padding: 10px 18px;
}

.message-right {
    margin: 1% 0 1% 25%;
    max-width: 85%;
    align-self: flex-end;
    margin-right: 9px;
    background-color: #2b5278;
    border-radius: 5px;
    padding: 10px 18px;
}

@media screen and (max-width: 680px) {
    .display-dialogs-button {
        display: true;
    }
}

@media screen and (hover: none) {
    .display-dialogs-button {
        display: flex;
    }
}